<h1 align='center'>Striverâ€™s SDE Sheet</h1>

## User Input

In [3]:
# User input string
string = input("Enter a string")
print(string)
print(type(string))

dfghj
<class 'str'>

In [5]:
# User input integer
integer = int(input("Enter an integer"))
print(integer)
print(type(integer))

7
<class 'int'>

In [7]:
# User input float
float = float(input("Enter an float"))
print(float)
print(type(float))

6.8
<class 'float'>

In [10]:
# User input integer list/array
arr_list = [int(item) for item in input("Enter integer list").split()]
print(arr_list)
print(type(arr_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

In [12]:
# User input string list/array
arr_str = [item for item in input("Enter string list").split()]
print(arr_str)
print(type(arr_str))

['swfdr', 'etgthr', 'srge']
<class 'list'>

## Pattern printing

### Print this pattern

```
* * * * * 
* * * * * 
* * * * * 
* * * * * 
* * * * *
```

In [23]:
for i in range(5):
    for j in range(5):
        print("*", end=' ')
    print('')

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

### Print this pattern

```
* 
* * 
* * * 
* * * * 
* * * * * 
```

In [29]:
for i in range(0,5):
    for j in range(0,i+1):
        print("*", end=' ')
    print('')

*
* *
* * *
* * * *
* * * * *

### Print this pattern

```
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5
```

In [54]:
for i in range(5):
    num = 1
    for j in range(0,i+1):
        print( num, end=" " )
        num+=1
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### Print this pattern

```
1  
2 2  
3 3 3  
4 4 4 4  
5 5 5 5 5 
```

In [62]:
for i in range(1,6):
    for j in range(i):
        print(i, end=" ")
    print(' ')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

### Print the pattern

```
* * * * * 
* * * * 
* * * 
* * 
*
```

In [63]:
for i in range(5,0,-1):
    for j in range(i):
        print("*", end=" ")
    print('')

* * * * *
* * * *
* * *
* *
*

### Print this pattern

```
1 2 3 4 5 
1 2 3 4 
1 2 3 
1 2 
1 
```

In [66]:
for i in range(5,0,-1):
    num = 1
    for j in range(i):
        print(num, end=" ")
        num+=1
    print('')

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

### Print this pattern

```
     * 
    * * 
   * * * 
  * * * * 
 * * * * * 
 ```

In [109]:
spaces = 5
for i in range(1, 6):
    print(' ' * spaces, end='')
    print('* '*(i))
    spaces -= 1

     *
    * *
   * * *
  * * * *
 * * * * *

### Print this pattern

```
 * * * * * 
  * * * * 
   * * * 
    * * 
     * 
```

In [104]:
spaces=0
for i in range(5, 0,-1):
    print(' '*spaces , end=' ')
    print('* '*(i))
    spaces+=1

 * * * * *
  * * * *
   * * *
    * *
     *

### Print this pattern


```
     * 
    * * 
   * * * 
  * * * * 
 * * * * * 
 * * * * * 
  * * * * 
   * * * 
    * * 
     * 
```

In [142]:

spaces = 5
for i in range(1, 6):
    print(' '*(spaces), end=' ')
    print('* '*(i))
    spaces-=1
spaces = 1
for i in range(5,0, -1):
    print(' '*spaces, end=' ')
    print('* '*(i))
    spaces+=1

      *
     * *
    * * *
   * * * *
  * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

### Print this pattern

```
*  
* *  
* * *  
* * * *  
* * * * *  
* * * * * *  
* * * * *  
* * * *  
* * *  
* *  
*  
```

In [140]:
for i in range(1,6):
    for j in range(i):
        print("*", end=" ")
    print(' ')
for i in range(6, 0 ,-1):
    for j in range(i):
        print("*", end=" ")
    print(' ')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

### Print this pattern flyod's triangle.

```
1 
0 1 
1 0 1 
0 1 0 1 
1 0 1 0 1 
```

In [30]:
for i in range(5):
    if i%2 == 0:
        p = 1
        q = 0
    else:
        p = 0
        q = 1
    for j in range(i+1):
        if(j%2 == 0):
            print(p, end=' ')
        else:
            print(q, end=' ')
    print('')

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

### Print this pattern 

```
1             1  
1 2         2 1  
1 2 3     3 2 1  
1 2 3 4 4 3 2 1 
```

In [392]:
for i in range(1,5):
    for j in range(i) :
        print(j+1, end=' ')
    
    for j in range(2*(5-i-1),0,-1) :
        print(" ", end=' ')
    
    for j in range(i,0,-1) :
        print(j, end=' ')
    print(' ')

1             1
1 2         2 1
1 2 3     3 2 1
1 2 3 4 4 3 2 1

### Print this pattern

```
1  
2 3  
4 5 6  
7 8 9 10  
11 12 13 14 15  
```

In [80]:
num = 1
for i in range(5):
    for j in range(i+1):
        print(num, end=" ")
        num+=1
    print(' ')

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

### Print this pattern

```
A  
A B  
A B C  
A B C D  
A B C D E 
```

In [93]:
for i in range(5):
    character = 'A'
    for j in range(i+1):
        print(chr(ord(character)), end=' ')
        character = chr(ord(character) +1)
    print(' ')

A
A B
A B C
A B C D
A B C D E

### Print this Pattern

```
A B C D E  
A B C D  
A B C  
A B  
A
```

In [102]:
for i in range(5, 0, -1):
    character ='A'
    for j in range(i, 0, -1):
        print(character, end=' ')
        character = chr(ord(character) +1)
    print(' ')

A B C D E
A B C D
A B C
A B
A

### Print this pattern 

```
A  
B B  
C C C  
D D D D  
E E E E E
```

In [108]:
character = "A"
for i in range(5):
    for j in range(i+1):
        print(character, end=' ')
    character = chr(ord(character) +1)
    print(' ')

A
B B
C C C
D D D D
E E E E E

###  Print this pattern
```    
         A   
      A  B  A   
   A  B  C  A  B   
A  B  C  D  A  B  C   
```

In [362]:
spaces = 7
for i in range(0, 5):
    character = 'A'
    for j in range(i+1,5):
        print('  ', end=' ')
        
    for j in range(0,i):
        print(character+ " ", end=' ')
        character = chr(ord(character) +1)

    character = 'A'
    for j in range(1,i):
        print(character+ " ", end=' ')
        character = chr(ord(character) +1)
    print(' ')

         A
      A  B  A
   A  B  C  A  B
A  B  C  D  A  B  C

### Print this Pattern

```
E  
D E  
C D E  
B C D E  
A B C D E 
```

In [364]:
character = 'E'
for i in range(5):
    character = chr(ord(character) -i)
    for j in range(i+1):
        print(character, end=" ")
        character = chr(ord(character) +1)
    character = chr(ord(character) -1)
    print(' ')

E
D E
C D E
B C D E
A B C D E

### Print this pattern

```
* * * * * * * * * *  
* * * *     * * * *  
* * *         * * *  
* *             * *  
*                 *  
*                 *  
* *             * *  
* * *         * * *  
* * * *     * * * *  
* * * * * * * * * * 
```

In [290]:
for i in range(0,5):
    for j in range(i,5):
        print('*', end=' ')
        
    for j in range(0,2*i):
        print(' ', end=' ')
        
    for j in range(i,n):
        print('*', end=' ')
        
    print(' ')
    
for i in range(0,5):
    for j in range(0,i+1):
        print('*', end=' ')
        
    for j in range(0,2*(5-1-i)):
        print(' ', end=' ')
        
    for j in range(0,i+1):
        print('*', end=' ')
        
    print(' ')
    
print(' ')

* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *
*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *

### Print this pattern

```
*                          *   
*  *                    *  *   
*  *  *              *  *  *   
*  *  *  *        *  *  *  *   
*  *  *  *  *  *  *  *  *  *   
*  *  *  *        *  *  *  *   
*  *  *              *  *  *   
*  *                    *  *   
*                          *   
 ```

In [325]:
for i in range(0, 4):
    for j in range(0, i+1):
        print('* ', end= " ")
    
    for j in range(2*(5-1-i),0,-1):
        print('  ', end= " ")
        
    for j in range(0, i+1):
        print('* ', end= " ")
    print(' ')
for i in range(0,5):
    for j in range(5,i,-1):
        print('* ', end= " ")
    
    for j in range(2*i,0,-1):
        print('  ', end= " ")
        
    for j in range(5,i,-1):
        print('* ', end= " ")
    print(' ')
print(' ')

*                          *
*  *                    *  *
*  *  *              *  *  *
*  *  *  *        *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *        *  *  *  *
*  *  *              *  *  *
*  *                    *  *
*                          *

### Print this pattern

```
*  *  *  *  *   
*           *   
*           *   
*           *   
*  *  *  *  * 
```

In [402]:
for i in range(5):
    for j in range(5):
        if (i==0 or i==4 or j==0 or j==4):
            print('* ', end=" ")
            
        else:
            print('  ', end=" ")
    print(' ')

*  *  *  *  *
*           *
*           *
*           *
*  *  *  *  *

### Print this pattern

```
4 4 4 4 4 4 4 
4 3 3 3 3 3 4 
4 3 2 2 2 3 4 
4 3 2 1 2 3 4 
4 3 2 2 2 3 4 
4 3 3 3 3 3 4 
4 4 4 4 4 4 4
```

In [436]:
for i in range(1, 5):
    for j in range(1, 5):
        min = i if i<j else j
        print(4 - min + 1, end = " ")
    
    for j in range(3, 0, -1): 
        min = i if i < j else j 
        print(4 - min + 1, end = " ")
    print()
    
for i in range(4 - 1, 0, -1): 
    for j in range(1, 4 + 1): 
        min = i if i < j else j 
        print(4 - min + 1, end = " ") 
  
    for j in range(4 - 1, 0, -1): 
        min = i if i < j else j 
        print(4 - min + 1, end = " ")
  
    print()

4 4 4 4 4 4 4
4 3 3 3 3 3 4
4 3 2 2 2 3 4
4 3 2 1 2 3 4
4 3 2 2 2 3 4
4 3 3 3 3 3 4
4 4 4 4 4 4 4

## Basic Maths

### Count digits in a number

Given an integer N , write program to count number of digits in N.

```
Example 1:
Input: N = 12345
Output: 5
Explanation: N has 5 digits

Example 2:
Input: N = 8394
Output: 4
Explanation: N has 4 digits
```

In [454]:
def count_numbers():
    number = int(input("Enter a Number:-"))
    count = 0
    length = int(len(str(number)))
    while (count<length):
        count+=1
    print(count)
    
count_numbers()

6

## Reverse a number

Given a number N reverse the number and print it.

```
Example 1:
Input: N = 123
Output: 321
Explanation: The reverse of 123 is 321

Example 2:
Input: N = 234
Output: 432
Explanation: The reverse of 234 is 432
```

In [24]:
def reverse_number(number):
    reverse_number = 0
    for i in range(0, len(str(number))):
        last_number = number%10
        number = number//10
        reverse_number = reverse_number*10+last_number
    print(reverse_number)
                  

number = int(input("Enter the Number to be reversed:"))
reverse_number(number)

8765432

###  Check Palindrome

 Given a number check if it is a palindrome.

An integer is considered a palindrome when it reads the same backward as forward.

```
Example 1:
Input: N = 123
Output: Not Palindrome Number
Explanation: 123 read backwards is 321.Since these are two different numbers 123 is not a palindrome.

Example 2:
Input: N =  121 
Output: Palindrome Number
Explanation: 121 read backwards as 121.Since these are two same numbers 121 is a palindrome.
```

In [32]:
def check_palindrome(number):
    original_number = number
    reverse_number = 0
    for i in range(0, len(str(number))):
        last_digit = number%10
        number = number//10
        reverse_number = reverse_number*10+last_digit
    print(reverse_number)
    print(original_number)
    if(reverse_number == original_number):
        print("The number is PALINDROME !")
    else:
        print("The number is NOT A PALINDROME !")
        

number = int(input("Enter a number:"))
check_palindrome(number)

232
232
The number is PALINDROME !

### GCD Or HCF

Find gcd of two numbers.

```
Example 1:
Input: num1 = 4, num2 = 8
Output: 4
Explanation: Since 4 is the greatest number which divides both num1 and num2.

Example 2:
Input: num1 = 3, num2 = 6
Output: 3
Explanation: Since 3 is the greatest number which divides both num1 and num2.
```

In [40]:
def hcf(num1, num2):
    array = []
    mini = min(num1, num2)
    for i in range(1,mini+1):
        if num1%i == 0 and num2%i == 0:
            array.append(i)
    return max(array)
    

num1 = int(input("Enter the first number"))
num2 = int(input("Enter the second number"))
print(hcf(num1, num2))

3

### Armstrong Numbers

Armstrong Numbers are the numbers having the sum of digits raised to power no. of digits is equal to a given number. Examples- 0, 1, 153, 370, 371, 407, and 1634 are some of the Armstrong Numbers.

```
Example 1:
Input:153 
Output: Yes, it is an Armstrong Number
Explanation: 1^3 + 5^3 + 3^3 = 153

Input:170 
Output: No, it is not an Armstrong Number
Explanation: 1^3 + 7^3 + 0^3 != 170
```

In [61]:
def armstrong_number(number):
    original_number = number
    # find the number of digits in the number
    num_digits = int(len(str(number)))
    armstrong_number = 0
    for i in str(number):
        armstrong_number = armstrong_number +int(i)**num_digits
    if original_number == number:
        return("Is an armstrong number")
    else:
        return("Is not an armstron number")

number = int(input("Enter a number:"))
armstrong_number(number)

'Is armstrong_number'

### Print all Divisors

Given a number, print all the divisors of the number. A divisor is a number that gives remainder as zero when divided.

```
Example 1:
Input: n = 36
Output: 1 2 3 4 6 9 12 18 36
Explanation: All the divisors of 36 are printed.

Example 2:
Input: n = 97
Output: 1 97
Explanation: Since 97 is a prime number, only 1 and 97 are printed.
```

In [63]:
def print_divisor(number):
    array = []
    for i in range(1,number+1):
        if number % i == 0:
            array.append(i)
    return array

number = int(input("Enter a number:"))
print_divisor(number)

[1, 2, 3, 4, 6, 9, 12, 18, 36]

### Check for prime

Given a number, check whether it is prime or not. A prime number is a natural number that is only divisible by 1 and by itself.

```
Example 1:
Input: N = 3
Output: Prime
Explanation: 3 is a prime number

Example 2:
Input: N = 26
Output: Non-Prime
Explanation: 26 is not prime
```

In [82]:
def prime_number(number):
    flag = True
    for i in range(2,number):
        if number%i==0:
            flag = False
            break
    return flag

            
number = int(input("Enter the number:"))
prime_number(number)

True

## Learn Basic Recursion

### Understand recursion by print something N times

In [11]:
def n_time(n):
    if (n==0):
        return
    else:
        print(f"printing something {n} times")
        n_time(n-1)

n_time(9)

printing something 1 times
printing something 2 times
printing something 3 times
printing something 4 times
printing something 5 times
printing something 6 times
printing something 7 times
printing something 8 times
printing something 9 times

### Print name N times using recursion

In [16]:
def print_name(name, n):
    if(n==0):
        return
    else:
        print(name)
        print_name(name, n-1)

print_name("Vivek", 10)

Vivek
Vivek
Vivek
Vivek
Vivek
Vivek
Vivek
Vivek
Vivek
Vivek

### Print 1 to N using recursion

In [17]:
def num_one_n(n):
    if n==0:
        return
    else:
        num_one_n(n-1)
        print(n)

num_one_n(10)

1
2
3
4
5
6
7
8
9
10

### Print N to 1 using recursion

In [1]:
def n_to_one(n):
    if n==0:
        return
    else:
        print(n)
        n_to_one(n-1)
        
n_to_one(10)

10
9
8
7
6
5
4
3
2
1

### Sum of first N numbers

In [20]:
def sum_n(n):
    summ = n*(n-1)/2
    return int(summ)        

sum_n(5)

10

### Factorial of N numbers

In [29]:
def factorial(numbers):
    if numbers == 1:
        return numbers
    else:
        return numbers*factorial(numbers-1)

factorial(5)

120

### Reverse an array

In [ ]:
def reversed_array(array):